/* Styling for mobile to do the site responsive. */

.main-content-container {
    margin-left: 1rem;
    margin-right: 1rem;
}

#welcome-text {
    top: 5rem;
    left: 2.9rem;
    right: 0;
}

#profession-title {
    top: 15rem;
    left: 2.9rem;
    right: 0;
}

.contact-container {
    font-size: 1.3rem;
}