html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.4rem;
    margin: 0;
    background-color: white;
    color: black;
}

/* Different font compare to everything else because I wanted the number to 
look like the number "1" and not an "I" */
header {
    font-family: 'EB Garamond', serif;
}

/* My front page styling with a background image filling the whole screen 
and with text on top. */
.hero-content {
    position: relative;
}

#welcome-text {
    font-size: 3.5rem;
    position: absolute;
    top: 15rem;
    right: 5rem;
    color: white;
}

.hero-img {
    width: 100%;
    height: 100vh;
}

#profession-title {
    font-size: 2.5rem;
    color: white;
    position: absolute;
    top: 21rem;
    right: 5rem;

    /* Fading animation */
    animation-name: fade;
    animation-duration: 5s;
    animation-timing-function: ease-in;
}

@keyframes fade {
    from {
        color: rgba(255, 255, 255, 0);
    }
    to {
        color: rgb(255, 255, 255);
    }
}

/* Styling for the arrow which shows that the page have more content below. */
.scroll-arrow {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 2.5rem;
    color: white;
}

.scroll-arrow a {
    color: white;
    display: flex;
    justify-content: center;

    /* Styling to get the bouncing effect on the arrow. */
    animation: 2s ease-in-out arrowBounce infinite;
    text-decoration: none;
}

@keyframes arrowBounce {
    0% {
        margin-bottom: 0rem;
    }
    50% {
        margin-bottom: 0.5rem;
    }
    100% {
        margin-bottom: 0rem;
    }
}

/* Main content styling. */
.main-content-container {
    text-align: center;
    margin: 0 15rem 2rem 15rem;
}

.main-content-container img {
    width: 35rem;
    border-radius: 0.3rem;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2), 0 5px 12px 0 rgba(0,0,0,0.19);
    margin-bottom: 2rem;
}

/* Styling for the image slider. */
.image-slider-container {
    height: 37rem;
    position: relative;
}

.image-slider-container > img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

.image-slider-container img {
    transition: opacity 4000ms;
}

.image-hidden {
    opacity: 0;
}

/* Breaking line for separating content. */
.content-breaking-line {
    border-top: 1px solid #D8A001;
    margin-top: 3rem;
}

/* Button styling */
button {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem;
    background-color: white;
    border: 1px solid #D8A001;
    border-radius: 0.3rem;
    padding: 0.1rem 1rem;
    margin-bottom: 4rem;
    transition-duration: 0.4s;
}

button:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    background-color: #D8A001;
    color: white;
    cursor: pointer;
}

/* Link styling. */
a:link {
    text-decoration: none;
}

/* List styling. */
.education-list {
    padding: 0;
    list-style-type: none;
}

/* Styling for footer including contact content. */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #D8A001;
    color: white;
    height: 15rem;
}

.contact-container img {
    height: 3rem;
    margin: 0 1rem 0 1rem;
    transition: all .3s ease-in-out;
}

.contact-container img:hover {
    transform: scale(1.1);
}

.contact-container h2 {
    margin-top: 0;
}

.social-icon {
    filter: invert(1);
} 
