/* Styling for tablets to do the site responsive. */

.hero-content {
    height: 100vh;
}

.hero-img {
    object-fit: cover;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

#welcome-text {
    font-size: 2.5rem;
}

#profession-title {
    font-size: 1.5rem;
}

.main-content-container {
    margin-left: 7rem;
    margin-right: 7rem;
}

.main-content-container img {
    width: 100%;
}